{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> Can the operator demonstrate a full audit trail from the point of receiving the UK packaging waste, up to issuing PRNs for recycled material (including dates)?' %}

{% block questions %}
  {% set notes %}
    {{ govukTextarea({
      name: 'auditTrailNotes',
      id: 'auditTrailNotes',
      value: request.auditTrailNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'auditTrail',
    name: 'auditTrail',
    value: request.auditTrail,
    fieldset: {
      legend: {
        html: title | safe,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}