{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> Compliance' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  <p class="govuk-!-margin-bottom-2">To ensure compliance with the processes detailed within the sampling and inspection plan, uploaded as part of this application for accreditation:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>what training or experience makes the responsible person suitable</li>
    <li>what contingencies will be in place should there be any staff absence or departure</li>
  </ul>

  <p>This also includes the processes and procedures outlined within part 1 of the sampling and inspection plan that&rsquo;s been approved by their regulator in writing for the corresponding registration.</p>

  {% set notes %}
    {{ govukTextarea({
      name: 'complianceResponsibilityNotes',
      id: 'complianceResponsibilityNotes',
      value: request.complianceResponsibilityNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'complianceResponsibility',
    name: 'complianceResponsibility',
    value: request.complianceResponsibility,
    fieldset: {
      legend: {
        html: 'Will somebody be responsible for ensuring compliance with the processes detailed within the sampling and inspection plan?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}