{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> Will the operator record what material that leaves site and include the destination of finished product?' %}

{% block questions %}
  {% set notes %}
    {{ govukTextarea({
      name: 'departureDestinationNotes',
      id: 'departureDestinationNotes',
      value: request.departureDestinationNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'departureDestination',
    name: 'departureDestination',
    value: request.departureDestination,
    fieldset: {
      legend: {
        html: title | safe,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}