{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> What records will the operator keep to verify that PRNs have only been issued in accordance with the method described to calculate the recyclable portion in the S&I plan.' %}

{% block questions %}
  {% set notes %}
    {{ govukTextarea({
      name: 'methodDescribedNotes',
      id: 'methodDescribedNotes',
      value: data['methodDescribedNotes'],
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'methodDescribed',
    name: 'methodDescribed',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('methodDescribed','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('methodDescribed','No'),
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed',
        checked: checked('methodDescribed','More information needed')
      }
    ]
  }) }}
{% endblock %}