{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> PRN weight' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  <p>A PRN may only be issued on the recyclable proportion of the weight of UK packaging waste received for recycling (as calculated by the method detailed within part 1 of the sampling and inspection plan), that&rsquo;s been approved by their regulator in writing for the corresponding registration.</p>

  {% set notes %}
    {{ govukTextarea({
      name: 'prnWeightNotes',
      id: 'prnWeightNotes',
      value: request.prnWeightNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'prnWeight',
    name: 'prnWeight',
    value: request.prnWeight,
    fieldset: {
      legend: {
        html: 'Can the operator record an accurate weight for PRN waste recording?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}