{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> At what point will the operator record the weight for PRN waste recording? Is this an appropiate and accurate process? A PRN may only be issued on the recyclable proportion of the weight of UK packaging waste received for recycling, as calculated by the method detailed within the Sampling and Inspection plan – Part 1 that has been approved by the relevant regulator in writing for the corresponding registration.' %}

{% block questions %}
  {% set notes %}
    {{ govukTextarea({
      name: 'prnWeightNotes',
      id: 'prnWeightNotes',
      value: request.prnWeightNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'prnWeight',
    name: 'prnWeight',
    value: request.prnWeight,
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}