{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> Reporting' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  <p>what training or experience makes the responsible person suitable</p>
  <p>what contingencies will be in place should there be any staff absence or departure</p>

  {% set notes %}
    {{ govukTextarea({
      name: 'reportingNotes',
      id: 'reportingNotes',
      value: request.reportingNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'reporting',
    name: 'reporting',
    value: request.reporting,
    fieldset: {
      legend: {
        html: 'Will somebody be responsible for compliance with the reporting requirements detailed within Schedule 8 Part 3 (26)?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}