{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> Waste type' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  <p>Waste packaging documentation, where the original type and form of the waste is not readily identifiable (such as plastic regrind or glass cullet), must confirm that the original type and form of the material is packaging waste and that it became waste in the UK.</p>

  {% set notes %}
    {{ govukTextarea({
      name: 'wasteTypeNotes',
      id: 'wasteTypeNotes',
      value: request.wasteTypeNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'wasteType',
    name: 'wasteType',
    value: request.wasteType,
    fieldset: {
      legend: {
        html: 'Does the operator have documentation to confirm the original waste type and form, and confirm the original producer?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}