{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> How will the operator ensure that the recorded weight of recycled material is accurate? Has the operator included: What checks will be carried out on this data? The frequency of the checks that will be carried out? Who actually carries out these checks?' %}

{% block questions %}
  {% set notes %}
    {{ govukTextarea({
      name: 'weightRecordedNotes',
      id: 'weightRecordedNotes',
      value: data['weightRecordedNotes'],
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'weightRecorded',
    name: 'weightRecorded',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('weightRecorded','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('weightRecorded','No'),
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed',
        checked: checked('weightRecorded','More information needed')
      }
    ]
  }) }}
{% endblock %}