{% extends 'layouts/main.html' %}

{% set title = 'Applications' %}

{% block serviceBanner %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        {{ title | safe }}
      </h1>
    </div>
    <div class="govuk-grid-column-one-quarter-from-desktop">
      {% include './_filters.html' %}
    </div>
    <div class="govuk-grid-column-three-quarters-from-desktop">

      {# Create empty object for radios #}
      {% set applications = [] %}

      {# Loop through types and add into the object #}
      {% for application in data['applications'] | sort(attribute='payment') %}
        {% set applications = applications | push (
          [
            {
              html: '<a href="application/'+('duly-making' if application.status == 'Not started' else 'summary')+'?current-application='+application.id+'">'+application.id+'</a>'
            },
            {
              html: application.orgName
            },
            {
              html: application.type+': <br>'+application.material
            },
            {
              html: (application.payment | date('add', 84, 'days')) | date('D MMM YYYY') if application.payment else '',
              format: 'numeric'
            },
            {
              html: '<strong class="govuk-tag '
              + ('govuk-tag--blue' if application.status == 'In progress' )
              + ('govuk-tag--green' if application.status == 'Approved' )
              + ('govuk-tag--red' if application.status == 'Rejected' )
              + ('govuk-tag--grey' if application.status == 'Not started' )
              +'">'
              + application.status
              +'</strong>',
              format: 'numeric'
            }
          ]
        ) %}
      {% endfor %}

      {% set caption = '<span class="govuk-caption-m"><span class="govuk-visually-hidden"> - </span>Showing 1-10 of 277</span>' %}

      <style>
        .govuk-table__header:last-of-type {
          min-width: 112px;
        }
      </style>
      {{ govukTable({
        caption: caption | safe,
        captionClasses: 'govuk-table__caption--l',
        firstCellIsHeader: true,
        head: [
          {
            html: 'Application ID'
          },
          {
            html: 'Organisation name'
          },
          {
            html: 'Application type'
          },
          {
            html: 'Due date',
            format: 'numeric'
          },
          {
            html: 'Status',
            format: 'numeric'
          }
        ],
        rows: applications
      }) }}


      {{ govukPagination({
        next: {
          href: "#0"
        },
        items: [
          {
            number: 1,
            href: "#0",
            current: true
          },
          {
            number: 2,
            href: "#0"
          },
          {
            ellipsis: true
          },
          {
            number: 28,
            href: "#"
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}

{% block buttons %}{% endblock %}
