{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> How will the operator record the material that leaves site? What records and documentation will the operator hold to show the destination of finished product?' %}

{% block questions %}
  {% set notes %}
    {{ govukTextarea({
      name: 'departure-destination-notes',
      id: 'departure-destination-notes',
      value: data['departure-destination-notes'],
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'departure-destination',
    name: 'departure-destination',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('departure-destination','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('departure-destination','No'),
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed',
        checked: checked('departure-destination','More information needed')
      }
    ]
  }) }}
{% endblock %}