{% extends '../_tasks-layout.html' %}

{% set pErn = 'PRN' if request.orgType == 'Reprocessor' else 'PERN' %}
{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> Will the operator record how customer specified waste is recycled and inform customers that '+pErn+'s have been claimed on any material or product received?' %}

{% block questions %}
  {% set notes %}
    {{ govukTextarea({
      name: 'customerSpecificationNotes',
      id: 'customerSpecificationNotes',
      value: request.customerSpecificationNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'customerSpecification',
    name: 'customerSpecification',
    value: request.customerSpecification,
    fieldset: {
      legend: {
        html: title | safe,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}