{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Sampling and inspection plan<span class="govuk-visually-hidden"> - </span></span> Can the operator ensure and demonstrate that the recorded weight of recycled material is accurate?' %}

{% block questions %}
  {% set notes %}
    {{ govukTextarea({
      name: 'weightRecordedNotes',
      id: 'weightRecordedNotes',
      value: request.weightRecordedNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'weightRecorded',
    name: 'weightRecorded',
    value: request.weightRecorded,
    fieldset: {
      legend: {
        html: title | safe,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    hint: {
      html: 'Consider what checks will be carried out, the frequency and who actually carries them out.'
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}