.app-cards {
	.govuk-task-list__item {
		background-color: govuk-colour("white");
		border: 1px solid govuk-functional-colour("border");
		box-sizing: border-box;
		@include govuk-responsive-padding(4, "top");
		@include govuk-responsive-padding(3, "right");
		@include govuk-responsive-padding(4, "bottom");
		@include govuk-responsive-padding(3, "left");
		@include govuk-responsive-margin(3, "bottom");
	}

	.govuk-task-list__item--with-link{
		&:hover {
			border-color: govuk-functional-colour("link-hover");
			outline: 1px solid govuk-functional-colour("link-hover");
		}

		&:active,
		&:focus {
			outline: 3px solid $govuk-focus-colour;
			outline-offset: 0;
		}
	}

	.govuk-task-list__link {
		font-weight: bold;
	}

	.govuk-task-list__status {
		display: block;
		float: right;
	}

	.govuk-task-list__hint {
		@include govuk-responsive-margin(1	, "top");
		p {
			@include govuk-responsive-margin(1, "bottom");
		}

		dl {
			@include govuk-font-size($size: 16);
			color: govuk-functional-colour("secondary-text");
			margin: 0;
			display: grid;
			grid-template-columns: auto auto auto auto;

			dd:nth-child(2) {
				grid-column: 1 / 5;
				margin-top: 0;
			}

			@include govuk-media-query($from: tablet) {
				display: flex;
				flex-wrap: wrap;

				dd:nth-child(2) {
					flex-basis: 100%;
				}
			}

			dt {
				grid-column: 1 / 2;
				font-weight: bold;
				margin: govuk-spacing(1) govuk-spacing(1) 0 0;
			}

			dd {
				grid-column: 2 / 5;
				margin: govuk-spacing(1) govuk-spacing(3) 0 0;

			}
		}
	}
}