.app-cards {
	.govuk-task-list__item {
		background-color: govuk-colour("white");
		border: 1px solid govuk-functional-colour("border");
		box-sizing: border-box;
		@include govuk-responsive-padding(4, "top");
		@include govuk-responsive-padding(3, "right");
		@include govuk-responsive-padding(4, "bottom");
		@include govuk-responsive-padding(3, "left");
		@include govuk-responsive-margin(3, "bottom");
	}

	.govuk-task-list__item--with-link:hover {
		background: govuk-colour("light-grey");
	}

	.govuk-task-list__link {
		font-weight: bold;

		&:hover {
			background: none;
			outline: none;
		}
	}

	.govuk-task-list__status {
		display: block;
		float: right;
	}

	.govuk-task-list__hint {
		@include govuk-responsive-margin(1	, "top");
		p {
			@include govuk-responsive-margin(1, "top");
			@include govuk-responsive-margin(1, "bottom");
		}

		dl {
			@include govuk-font-size($size: 16);
			color: govuk-functional-colour("secondary-text");
			margin: 0;
			display: grid;
			grid-template-columns: auto auto;

			@include govuk-media-query($from: tablet) {
				display: flex;
				flex-wrap: wrap;

				dd:nth-child(2) {
					flex-basis: 100%;
				}
			}

			dt {
				font-weight: bold;
				margin: 0 govuk-spacing(1) 0 0;
			}

			dd {
				margin: 0 govuk-spacing(3) 0 0;

			}
		}
	}
}