// Override some setting as we're not using the GOV.UK logo
.govuk-header {
	border-bottom: 10px solid govuk-functional-colour('surface-border');
}

.govuk-header__logo {
	padding-top: 12px;
}

.govuk-header__homepage-link {
	word-spacing: initial;
}