// Override some setting as we're not using the GOV.UK brand
.app-service-banner {
	background: #E7F4EB;
	border: 0;

	&__container {
		// padding: 1px 40px 5px;
		padding-top: 1px;
		@include govuk-responsive-padding(6, "right");
		@include govuk-responsive-padding(1, "bottom");
		@include govuk-responsive-padding(6, "left");
		margin-top: -1px;
	}
}