{% extends "layouts/main.html" %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Go back to the list of all prototypes',
    href: '/'
  }) }}
{% endblock %}

{% set title = 'View and manage request' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
      <p>Exploring the options for viewing and managing a request.</p>



      {% set version = "1" %}
      <h2 class="govuk-heading-m">
        Version {{version}}
        {{ govukTag({
          classes: 'govuk-tag--yellow govuk-!-margin-left-2',
          text: 'In progress'
        }) }}
      </h2>

      <p>Initial barebones look at accessing a request and processing it, with previous steps for the old process automated.</p>

      {{ govukButton({
        text: 'View prototype',
        href: 'v'+version+'/start?branded=false'
      }) }}

      <p><a href="v{{version}}/start?branded=true">View a branded version</a>, this is just a proof of concept for using Frontend settings to rebrand.</p>






      {# {% set v1HTML %}
        {% set version = "1" %}
        <p>Information about this version</p>

        <p><a href="#0">View the research outputs on Miro</a>.</p>

        {{ govukButton({
          text: 'View prototype',
          href: '#0'
        }) }}
      {% endset %}

      {{ govukAccordion({
        id: 'previous',
        classes: 'govuk-!-margin-top-9',
        items: [
          {
            heading: {
              html: 'Version 1 <strong class="govuk-tag govuk-tag--green govuk-!-margin-left-2">Researched</strong>'
            },
            content: {
              html: v1HTML
            }
          }
        ]
      }) }} #}

    </div>
  </div>
{% endblock %}

