{% extends 'layouts/main.html' if data['branded'] == 'true' else 'layouts/unbranded.html' %}

{% set title = 'Duly making' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Go back to all applications',
    href: currentPrototype+'/'
  }) }}
{% endblock %}

{# {% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %} #}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  <h2 class="govuk-heading-m">
    Organisation details
  </h2>

  {{ mojAlert({
    variant: "success",
    title: "Details confirmed with Companies House",
    dismissible: false
  }) }}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: 'Organisation name'
        },
        value: {
          html: application.orgName
        }
      },
      {
        key: {
          html: 'Organisation ID'
        },
        value: {
          html: application.orgId
        }
      },
      {
        key: {
          html: 'Organisation type'
        },
        value: {
          html: application.orgType
        }
      },
      {
        key: {
          html: 'Application type'
        },
        value: {
          html: application.type
        }
      },
      {
        key: {
          html: 'Site address'
        },
        value: {
          html: application.reprocessorAddress
        }
      },
      {
        key: {
          html: 'Regulator'
        },
        value: {
          html: application.regulator
        }
      }
    ]
  }) }}

  {{ govukButton({
    html: '<svg class="app-button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="31.48244797 57.8415657 195.36781609 257.43678161" width="35" height="35"><defs><path id="b" d="M38.48 64.84h164.37v226.44H38.48V64.84z"/></defs><filter id="a" width="246.37" height="308.44" x="9.48" y="35.84" filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse"><feFlood/><feComposite in2="SourceAlpha" operator="in"/><feGaussianBlur/><feOffset dx="24" dy="24" result="afterOffset"/><feFlood flood-color="#000" flood-opacity="1"/><feComposite in2="afterOffset" operator="in"/><feMorphology operator="dilate"/><feComposite in2="SourceAlpha" operator="out"/></filter><path fill="#fff" d="M38.48 64.84h164.37v226.44H38.48V64.84z" filter="url(#a)"/><use xlink:href="#b"/><g><use fill-opacity="0" stroke="#fff" stroke-width="14" xlink:href="#b"/></g></svg>Download sampling and inspection report',
    classes: 'govuk-button--secondary app-button--download'
  }) }}

  {# {{ govukTable({
    caption: 'Application details',
    captionClasses: 'govuk-table__caption--m',
    firstCellIsHeader: true,
    head: [
      {
        html: 'Field',
        classes: 'govuk-!-width-one-half'
      },
      {
        html: 'Previous',
        classes: 'govuk-!-width-one-quarter',
        format: 'numeric'
      },
      {
        html: 'New',
        classes: 'govuk-!-width-one-quarter'
      }
    ],
    rows: [
      [
        {
          html: 'Material'
        },
        {
          html: application.material,
          format: 'numeric'
        },
        {
          html: application.material
        }
      ],
      [
        {
          html: 'Tonnage band'
        },
        {
          html: 'Up to 500 tonnes' | highlight,
          format: 'numeric'
        },
        {
          html: application.tonnageBand | highlight
        }
      ]
    ]
  }) }} #}


  <h2 class="govuk-heading-m">
    Payment details
  </h2>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: 'Charge'
        },
        value: {
          html: application.charge | currency
        }
      },
      {
        key: {
          html: 'Paid online'
        },
        value: {
          html: 'Yes'
        }
      } if application.chargePaidOnline == 'Yes' else {
        key: {
          html: 'Payment reference'
        },
        value: {
          html: application.chargeRef
        }
      }
    ]
  }) }}


  {{ govukDateInput({
    id: 'payment',
    namePrefix: 'payment',
    fieldset: {
      legend: {
        html: 'Date of payment',
        classes: 'govuk-fieldset__legend--m'
      }
    }
  }) }}

  {{ govukCheckboxes({
    idPrefix: 'duly-making',
    name: 'duly-making',
    fieldset: {
      legend: {
        html: 'Duly making checks',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        html: 'Application and plans in acceptable state',
        value: 'Application and plans in acceptable state'
      }
    ]
  }) }}
{% endblock %}

{% block buttons %}
  {{ govukButton({
    html: 'Save and start application'
  }) }}
{% endblock %}
