{% extends 'layouts/main.html' %}

{% set title = 'Withdraw application' %}

{% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  <p>Something something, you should only do this when x y and z.</p>

  {{ govukTextarea({
    name: 'withdraw-reason',
    id: 'withdraw-reason',
    label: {
      html: 'Reason for withdrawing',
      classes: 'govuk-label--m'
    }
  }) }}
{% endblock %}

{% block buttons %}
  <div class="govuk-button-group">
    {{ govukButton({
      text: 'Withdraw application',
      classes: 'govuk-button--warning'
    }) }}

    <a class="govuk-link" href="javascript:history.back()">Cancel</a>
  </div>
{% endblock %}