{% extends '../_tasks-layout.html' %}

{% set title = 'Does the operator&rsquo;s address match the address on the sampling and inspection plan?' %}

{% block questions %}
  {% set applicationAddress %}
    {{ govukInsetText({
      html: '<strong>Application address:</strong> 1 Wyld Court, Addingrove, AA3 1AB',
      classes: 'govuk-!-margin-0'
    }) }}
  {% endset -%}

  {% set notes %}
    {{ govukTextarea({
      name: 'addressNotes',
      id: 'addressNotes',
      value: request.addressNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'address',
    name: 'address',
    value: request.address,
    fieldset: {
      legend: {
        html: title | safe,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    hint: {
      html: applicationAddress
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}