{% extends '../_tasks-layout.html' %}

{% set title = '<span class="govuk-caption-l">Preliminary checks<span class="govuk-visually-hidden"> - </span></span> Business plan' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: 'New reprocessing infrastructure and maintaining existing infrastructure'
        },
        value: {
          html: '20% This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Price support'
        },
        value: {
          html: '20% This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Support for business collections'
        },
        value: {
          html: '10% This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Communications, including  informational campaigns'
        },
        value: {
          html: '15% This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Developing new markets for products made from recycled packaging waste'
        },
        value: {
          html: '10% This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Developing new users for recycled packaging waste'
        },
        value: {
          html: '20% This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Other'
        },
        value: {
          html: '5% This is an example explanation of how the operator would spend their income on this category'
        }
      }
    ]
  }) }}

  {% set notes %}
    {{ govukTextarea({
      name: 'businessPlanNotes',
      id: 'businessPlanNotes',
      value: request.businessPlanNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'businessPlan',
    name: 'businessPlan',
    value: request.businessPlan,
    fieldset: {
      legend: {
        html: 'Has the operator said how they&rsquo;d spend their PRN money, as stated in the regulations?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}