{% extends '../_tasks-layout.html' %}

{% set title = 'Review business plan' %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          html: 'New reprocessing infrastructure and maintining existing infrastructure'
        },
        value: {
          html: '<strong>20%</strong>: This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Price support'
        },
        value: {
          html: '<strong>20%</strong>: This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Support for business collections'
        },
        value: {
          html: '<strong>10%</strong>: This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Communications, including  informational campaigns'
        },
        value: {
          html: '<strong>15%</strong>: This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Developing new markets for products made from recycled packaging waste'
        },
        value: {
          html: '<strong>10%</strong>: This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Developing new users for recycled packaging waste'
        },
        value: {
          html: '<strong>20%</strong>: This is an example explanation of how the operator would spend their income on this category'
        }
      },
      {
        key: {
          html: 'Other'
        },
        value: {
          html: '<strong>5%</strong>: This is an example explanation of how the operator would spend their income on this category'
        }
      }
    ]
  }) }}

  {# <p class="govuk-!-margin-bottom-2">The operator will need to show how they propose to use their income from PERNs, setting out the proportion of the income that they intend to spend on each of the following activities:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>investment in infrastructure for recycling or exporting, including both the development of new infrastructure, and support and maintenance of existing infrastructure</li>
    <li>price support provided for buying packaging waste or selling recycled packaging waste</li>
    <li>support for business collections</li>
    <li>communications, including national and local information campaigns, and direct contacts with suppliers</li>
    <li>the development of new markets for materials or goods made from recycled packaging waste in the UK and overseas</li>
    <li>the development of new uses for recycled packaging waste</li>
    <li>other activities</li>
  </ul> #}

  {# <p>They will then need to supply a short explanation of what they propose to do with the PRNs or PERNs income on each of the activities that they've said they intend to spend on.</p> #}


  {% set notes %}
    {{ govukTextarea({
      name: 'businessPlanNotes',
      id: 'businessPlanNotes',
      value: request.businessPlanNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'businessPlan',
    name: 'businessPlan',
    value: request.businessPlan,
    fieldset: {
      legend: {
        html: 'Has the operator told us how they will spend their PRN money in the areas stated in the regulations? ',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
        conditional: {
          html: notes
        }
      },
      {
        divider: 'or'
      },
      {
        html: 'More information needed',
        value: 'More information needed'
      }
    ]
  }) }}
{% endblock %}