{% extends '../_tasks-layout.html' %}

{% set title = 'Has the operator passed their fit and proper person assessment?' %}

{% block questions %}
  {% set notes %}
    {{ govukTextarea({
      name: 'fitAndProperNotes',
      id: 'fitAndProperNotes',
      value: request.fitAndProperNotes,
      rows: 3,
      label: {
        html: 'Notes',
        classes: 'govuk-label--s'
      }
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'fitAndProper',
    name: 'fitAndProper',
    value: request.fitAndProper,
    fieldset: {
      legend: {
        html: title | safe,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes'
      },
      {
        html: 'No',
        value: 'No',
          conditional: {
            html: notes
          }
        },
        {
          divider: 'or'
        },
        {
          html: 'More information needed',
          value: 'More information needed'
        }
    ]
  }) }}
{% endblock %}