{% extends 'layouts/main.html' if data['branded'] == 'true' else 'layouts/unbranded.html' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Go back to all requests',
    href: currentPrototype+'/'
  }) }}
{% endblock %}

{% block bannerContent %}
  {% include '../_banner.html' %}
{% endblock %}

{% block sideNav %}
  {% include '../_side-nav.html' %}
{% endblock %}

{% block buttons %}
  <div class="govuk-button-group">
    {{ govukButton({
      text: 'Save and continue'
    }) }}

    {# <a class="govuk-link govuk-link--no-visited-state" href="task-list">Return to task list</a> #}
  </div>
{% endblock %}