{% extends 'layouts/unbranded.html' if data['branded'] == 'false' else 'layouts/main.html' %}

{% set title = 'Does the application address and the address on the Sampling and inspection plan match?' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Go back to all requests',
    href: './'
  }) }}
{% endblock %}

{% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %}

{% block questions %}
  {% set applicationAddress %}
    {{ govukInsetText({
      html: '<strong>Application address:</strong> 1 Wyld Court, Addingrove, AA3 1AB',
      classes: 'govuk-!-margin-0'
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: 'address-check',
    name: 'address-check',
    fieldset: {
      legend: {
        html: title,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    hint: {
      html: applicationAddress
    },
    items: [
      {
        html: 'Yes',
        value: 'Yes',
        checked: checked('address-check','Yes')
      },
      {
        html: 'No',
        value: 'No',
        checked: checked('address-check','No')
      }
    ]
  }) }}

  {{ govukTextarea({
    name: 'address-check-notes',
    id: 'address-check-notes',
    value: data['address-check-notes'],
    rows: 3,
    label: {
      html: 'Notes (optional)',
      classes: 'govuk-label--s'
    }
  }) }}
{% endblock %}

{% block buttons %}
  {% include './_buttons.html' %}
{% endblock %}