{% extends 'layouts/main.html' if data['branded'] == 'true' else 'layouts/unbranded.html' %}

{% set title = 'All requests' %}

{% block bannerContent %}&#8203;{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {# Create empty object for radios #}
      {% set requests = [] %}

      {# Loop through types and add into the object #}
      {% for request in data['requests'] | sort(attribute='payment') %}
        {% set requests = requests | push (
          [
            {
              html: '<a href="request/'+('duly-making' if request.status == 'Not started' else 'task-list')+'?current-request='+request.id+'">'+request.id+'</a>'
            },
            {
              html: request.orgName
            },
            {
              html: request.type+': <br>'+request.material
            },
            {
              html: (request.payment | date('add', 84, 'days')) | date('D MMM YYYY') if request.payment else '',
              format: 'numeric'
            },
            {
              html: '<strong class="govuk-tag '
              + ('govuk-tag--blue' if request.status == 'In progress' )
              + ('govuk-tag--green' if request.status == 'Approved' )
              + ('govuk-tag--red' if request.status == 'Rejected' )
              + ('govuk-tag--grey' if request.status == 'Not started' )
              +'">'
              + request.status
              +'</strong>',
              format: 'numeric'
            }
          ]
        ) %}
      {% endfor %}

      {% set caption = title+'<span class="govuk-caption-m"><span class="govuk-visually-hidden"> - </span>Showing 1-10 of 277</span>' %}

      <style>
        .govuk-table__header:last-of-type {
          min-width: 112px;
        }
      </style>
      {{ govukTable({
        caption: caption | safe,
        captionClasses: 'govuk-table__caption--l',
        firstCellIsHeader: true,
        head: [
          {
            html: 'Request ID'
          },
          {
            html: 'Organisation name'
          },
          {
            html: 'Request type'
          },
          {
            html: 'Due date',
            format: 'numeric'
          },
          {
            html: 'Status',
            format: 'numeric'
          }
        ],
        rows: requests
      }) }}


      {{ govukPagination({
        next: {
          href: "#0"
        },
        items: [
          {
            number: 1,
            href: "#0",
            current: true
          },
          {
            number: 2,
            href: "#0"
          },
          {
            ellipsis: true
          },
          {
            number: 28,
            href: "#"
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}

{% block buttons %}{% endblock %}
