{% extends 'layouts/unbranded.html' if data['branded'] == 'false' else 'layouts/main.html' %}

{% set title = 'All requests' %}

{% block serviceBanner %}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {# Create empty object for radios #}
      {% set requests = [] %}

      {# Loop through types and add into the object #}
      {% for request in data['requests'] %}
        {% set requests = requests | push (
          [
            {
              html: '<a href="request/'+('duly-making' if request.status == 'Not started' else 'task-list')+'?current-request='+request.id+'">'+request.id+'</a>'
            },
            {
              html: request.type
            },
            {
              html: request.orgName
            },
            {
              html: request.orgId
            },
            {
              html: request.status
            },
            {
              html: request.sla | daysInFuture,
              format: 'numeric'
            }
          ]
        ) %}
      {% endfor %}

      {% set caption = title+'<span class="govuk-caption-m"><span class="govuk-visually-hidden"> - </span>Showing 1-10 of 277</span>' %}

      {{ govukTable({
        caption: caption | safe,
        captionClasses: 'govuk-table__caption--l',
        firstCellIsHeader: true,
        head: [
          {
            html: 'Request ID'
          },
          {
            html: 'Request type'
          },
          {
            html: 'Organisation name'
          },
          {
            html: 'Organisation ID'
          },
          {
            html: 'Status'
          },
          {
            html: 'Due date',
            format: 'numeric'
          }
        ],
        rows: requests
      }) }}


      {{ govukPagination({
        next: {
          href: "#0"
        },
        items: [
          {
            number: 1,
            href: "#0",
            current: true
          },
          {
            number: 2,
            href: "#0"
          },
          {
            ellipsis: true
          },
          {
            number: 28,
            href: "#"
          }
        ]
      }) }}

    </div>
  </div>
{% endblock %}

{% block buttons %}{% endblock %}
