{% extends 'layouts/unbranded.html' if data['branded'] == 'false' else 'layouts/main.html' %}

{% set title = 'Tasks' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Go back to all requests',
    href: './'
  }) }}
{% endblock %}

{% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %}

{% block sideNav %}
  {% include './_side-nav.html' %}
{% endblock %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  <div class="govuk-button-group">
    {{ govukButton({
      html: '<svg class="app-button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="31.48244797 57.8415657 195.36781609 257.43678161" width="35" height="35"><defs><path id="b" d="M38.48 64.84h164.37v226.44H38.48V64.84z"/></defs><filter id="a" width="246.37" height="308.44" x="9.48" y="35.84" filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse"><feFlood/><feComposite in2="SourceAlpha" operator="in"/><feGaussianBlur/><feOffset dx="24" dy="24" result="afterOffset"/><feFlood flood-color="#000" flood-opacity="1"/><feComposite in2="afterOffset" operator="in"/><feMorphology operator="dilate"/><feComposite in2="SourceAlpha" operator="out"/></filter><path fill="#fff" d="M38.48 64.84h164.37v226.44H38.48V64.84z" filter="url(#a)"/><use xlink:href="#b"/><g><use fill-opacity="0" stroke="#fff" stroke-width="14" xlink:href="#b"/></g></svg>Download business plan',
      classes: 'govuk-button--secondary app-button--download'
    }) }}

    {{ govukButton({
      html: '<svg class="app-button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="31.48244797 57.8415657 195.36781609 257.43678161" width="35" height="35"><defs><path id="b" d="M38.48 64.84h164.37v226.44H38.48V64.84z"/></defs><filter id="a" width="246.37" height="308.44" x="9.48" y="35.84" filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse"><feFlood/><feComposite in2="SourceAlpha" operator="in"/><feGaussianBlur/><feOffset dx="24" dy="24" result="afterOffset"/><feFlood flood-color="#000" flood-opacity="1"/><feComposite in2="afterOffset" operator="in"/><feMorphology operator="dilate"/><feComposite in2="SourceAlpha" operator="out"/></filter><path fill="#fff" d="M38.48 64.84h164.37v226.44H38.48V64.84z" filter="url(#a)"/><use xlink:href="#b"/><g><use fill-opacity="0" stroke="#fff" stroke-width="14" xlink:href="#b"/></g></svg>Download sampling and inspection report',
      classes: 'govuk-button--secondary app-button--download'
    }) }}
  </div>

  <h2 class="govuk-heading-m">
    Preliminary checks
  </h2>
  {{ govukTaskList({
    items: [
      {
        title: {
          html: 'Check the addresses match'
        },
        href: 'tasks/preliminary/address',
        status: {
          html: 'Completed' if data['address-status'] == 'Completed',
          tag: {
            html: data['address-status'],
            classes: 'govuk-tag--'+('red' if data['address-status'] == 'Failed')+('orange' if data['address-status'] == 'Queried')+('govuk-tag--blue' if data['address-status'] == 'Not started')
          } if data['address-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Confirm operator has passed fit and proper checks'
        },
        href: 'tasks/preliminary/fit-and-proper',
        status: {
          html: 'Completed' if data['fit-and-proper-status'] == 'Completed',
          tag: {
            html: data['fit-and-proper-status'],
            classes: 'govuk-tag--'+('red' if data['fit-and-proper-status'] == 'Failed')+('orange' if data['fit-and-proper-status'] == 'Queried')+('govuk-tag--blue' if data['fit-and-proper-status'] == 'Not started')
          } if data['fit-and-proper-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Confirm estabilished in UK'
        },
        href: 'tasks/preliminary/uk',
        status: {
          html: 'Completed automatically' if data['uk-status'] == 'Completed',
          tag: {
            html: data['uk-status'],
            classes: 'govuk-tag--'+('red' if data['uk-status'] == 'Failed')+('orange' if data['uk-status'] == 'Queried')+('govuk-tag--blue' if data['uk-status'] == 'Not started')
          } if data['uk-status'] != 'Completed'
        }
      }
    ]
  }) }}


  <h2 class="govuk-heading-m">
    Business plan
  </h2>
  {{ govukTaskList({
    items: [
      {
        title: {
          html: 'Review spending'
        },
        href: 'tasks/business/spending',
        status: {
          html: 'Completed' if data['spending-status'] == 'Completed',
          tag: {
            html: data['spending-status'],
            classes: 'govuk-tag--'+('red' if data['spending-status'] == 'Failed')+('orange' if data['spending-status'] == 'Queried')+('govuk-tag--blue' if data['spending-status'] == 'Not started')
          } if data['spending-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Evidenced revenue'
        },
        href: 'tasks/business/revenue',
        status: {
          html: 'Completed' if data['revenue-status'] == 'Completed',
          tag: {
            html: data['revenue-status'],
            classes: 'govuk-tag--'+('red' if data['revenue-status'] == 'Failed')+('orange' if data['revenue-status'] == 'Queried')+('govuk-tag--blue' if data['revenue-status'] == 'Not started')
          } if data['revenue-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Check responsibility'
        },
        href: 'tasks/business/responsibility',
        status: {
          html: 'Completed' if data['responsibility-status'] == 'Completed',
          tag: {
            html: data['responsibility-status'],
            classes: 'govuk-tag--'+('red' if data['responsibility-status'] == 'Failed')+('orange' if data['responsibility-status'] == 'Queried')+('govuk-tag--blue' if data['responsibility-status'] == 'Not started')
          } if data['responsibility-status'] != 'Completed'
        }
      }
    ]
  }) }}


  <h2 class="govuk-heading-m">
    Sampling and inspection plan
  </h2>
  {{ govukTaskList({
    items: [
      {
        title: {
          html: 'PRN/PERNs already issued'
        },
        href: 'tasks/sampling-inspection/already-issued',
        status: {
          html: 'Completed' if data['already-issued-status'] == 'Completed',
          tag: {
            html: data['already-issued-status'],
            classes: 'govuk-tag--'+('red' if data['already-issued-status'] == 'Failed')+('orange' if data['already-issued-status'] == 'Queried')+('govuk-tag--blue' if data['already-issued-status'] == 'Not started')
          } if data['already-issued-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Separate waste'
        },
        href: 'tasks/sampling-inspection/separate-waste',
        status: {
          html: 'Completed' if data['separate-waste-status'] == 'Completed',
          tag: {
            html: data['separate-waste-status'],
            classes: 'govuk-tag--'+('red' if data['separate-waste-status'] == 'Failed')+('orange' if data['separate-waste-status'] == 'Queried')+('govuk-tag--blue' if data['separate-waste-status'] == 'Not started')
          } if data['separate-waste-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Waste type'
        },
        href: 'tasks/sampling-inspection/waste-type',
        status: {
          html: 'Completed' if data['waste-type-status'] == 'Completed',
          tag: {
            html: data['waste-type-status'],
            classes: 'govuk-tag--'+('red' if data['waste-type-status'] == 'Failed')+('orange' if data['waste-type-status'] == 'Queried')+('govuk-tag--blue' if data['waste-type-status'] == 'Not started')
          } if data['waste-type-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'PRN weight'
        },
        href: 'tasks/sampling-inspection/prn-weight',
        status: {
          html: 'Completed' if data['prn-weight-status'] == 'Completed',
          tag: {
            html: data['prn-weight-status'],
            classes: 'govuk-tag--'+('red' if data['prn-weight-status'] == 'Failed')+('orange' if data['prn-weight-status'] == 'Queried')+('govuk-tag--blue' if data['prn-weight-status'] == 'Not started')
          } if data['prn-weight-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Method described'
        },
        href: 'tasks/sampling-inspection/method-described',
        status: {
          html: 'Completed' if data['method-described-status'] == 'Completed',
          tag: {
            html: data['method-described-status'],
            classes: 'govuk-tag--'+('red' if data['method-described-status'] == 'Failed')+('orange' if data['method-described-status'] == 'Queried')+('govuk-tag--blue' if data['method-described-status'] == 'Not started')
          } if data['method-described-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Quality control'
        },
        href: 'tasks/sampling-inspection/quality-control',
        status: {
          html: 'Completed' if data['quality-control-status'] == 'Completed',
          tag: {
            html: data['quality-control-status'],
            classes: 'govuk-tag--'+('red' if data['quality-control-status'] == 'Failed')+('orange' if data['quality-control-status'] == 'Queried')+('govuk-tag--blue' if data['quality-control-status'] == 'Not started')
          } if data['quality-control-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Customer specification'
        },
        href: 'tasks/sampling-inspection/customer-specification',
        status: {
          html: 'Completed' if data['customer-specification-status'] == 'Completed',
          tag: {
            html: data['customer-specification-status'],
            classes: 'govuk-tag--'+('red' if data['customer-specification-status'] == 'Failed')+('orange' if data['customer-specification-status'] == 'Queried')+('govuk-tag--blue' if data['customer-specification-status'] == 'Not started')
          } if data['customer-specification-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Weight recorded'
        },
        href: 'tasks/sampling-inspection/weight-recorded',
        status: {
          html: 'Completed' if data['weight-recorded-status'] == 'Completed',
          tag: {
            html: data['weight-recorded-status'],
            classes: 'govuk-tag--'+('red' if data['weight-recorded-status'] == 'Failed')+('orange' if data['weight-recorded-status'] == 'Queried')+('govuk-tag--blue' if data['weight-recorded-status'] == 'Not started')
          } if data['weight-recorded-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Departure and destination'
        },
        href: 'tasks/sampling-inspection/departure-destination',
        status: {
          html: 'Completed' if data['departure-destination-status'] == 'Completed',
          tag: {
            html: data['departure-destination-status'],
            classes: 'govuk-tag--'+('red' if data['departure-destination-status'] == 'Failed')+('orange' if data['departure-destination-status'] == 'Queried')+('govuk-tag--blue' if data['departure-destination-status'] == 'Not started')
          } if data['departure-destination-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'PRN/PERNs already issued'
        },
        href: 'tasks/sampling-inspection/already-issued',
        status: {
          html: 'Completed' if data['already-issued-status'] == 'Completed',
          tag: {
            html: data['already-issued-status'],
            classes: 'govuk-tag--'+('red' if data['already-issued-status'] == 'Failed')+('orange' if data['already-issued-status'] == 'Queried')+('govuk-tag--blue' if data['already-issued-status'] == 'Not started')
          } if data['already-issued-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Not recycled'
        },
        href: 'tasks/sampling-inspection/not-recycled',
        status: {
          html: 'Completed' if data['not-recycled-status'] == 'Completed',
          tag: {
            html: data['not-recycled-status'],
            classes: 'govuk-tag--'+('red' if data['not-recycled-status'] == 'Failed')+('orange' if data['not-recycled-status'] == 'Queried')+('govuk-tag--blue' if data['not-recycled-status'] == 'Not started')
          } if data['not-recycled-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Compliance responsibility'
        },
        href: 'tasks/sampling-inspection/compliance-responsibility',
        status: {
          html: 'Completed' if data['compliance-responsibility-status'] == 'Completed',
          tag: {
            html: data['compliance-responsibility-status'],
            classes: 'govuk-tag--'+('red' if data['compliance-responsibility-status'] == 'Failed')+('orange' if data['compliance-responsibility-status'] == 'Queried')+('govuk-tag--blue' if data['compliance-responsibility-status'] == 'Not started')
          } if data['compliance-responsibility-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Quality responsibility'
        },
        href: 'tasks/sampling-inspection/quality-responsibility',
        status: {
          html: 'Completed' if data['quality-responsibility-status'] == 'Completed',
          tag: {
            html: data['quality-responsibility-status'],
            classes: 'govuk-tag--'+('red' if data['quality-responsibility-status'] == 'Failed')+('orange' if data['quality-responsibility-status'] == 'Queried')+('govuk-tag--blue' if data['quality-responsibility-status'] == 'Not started')
          } if data['quality-responsibility-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Training'
        },
        href: 'tasks/sampling-inspection/training',
        status: {
          html: 'Completed' if data['training-status'] == 'Completed',
          tag: {
            html: data['training-status'],
            classes: 'govuk-tag--'+('red' if data['training-status'] == 'Failed')+('orange' if data['training-status'] == 'Queried')+('govuk-tag--blue' if data['training-status'] == 'Not started')
          } if data['training-status'] != 'Completed'
        }
      },
      {
        title: {
          html: 'Reporting'
        },
        href: 'tasks/sampling-inspection/reporting',
        status: {
          html: 'Completed' if data['reporting-status'] == 'Completed',
          tag: {
            html: data['reporting-status'],
            classes: 'govuk-tag--'+('red' if data['reporting-status'] == 'Failed')+('orange' if data['reporting-status'] == 'Queried')+('govuk-tag--blue' if data['reporting-status'] == 'Not started')
          } if data['reporting-status'] != 'Completed'
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">
    Determination
  </h2>
  {{ govukTaskList({
    items: [
      {
        title: {
          text: 'Make a determination'
        },
        status: {
          text: 'Cannot complete yet',
          classes: 'govuk-task-list__status--cannot-start-yet'
        }
      }
    ]
  }) }}
{% endblock %}

{% block buttons %}{% endblock %}
