{% block backLink %}
  {{ govukBackLink({
    html: 'Go back to all applications',
    href: currentPrototype+'/'
  }) }}
{% endblock %}

<h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-margin-bottom-1">
  {{ application.orgName }}
</h2>

<div style="display: flex; gap: 20px;">
  <div><p><strong class="govuk-!-margin-right-1">Organisation ID:</strong> {{ application.orgId }}</p></div>
  <div><p><strong class="govuk-!-margin-right-1">Application type:</strong> {{ application.type }}</p></div>
  <div><p><strong class="govuk-!-margin-right-1">Material:</strong> {{ application.material }}</p></div>
</div>