{% extends 'layouts/main.html' %}

{% set title = 'Audit log' %}

{% block bannerBack %}
  {{ govukBreadcrumbs({
    classes: '',
    collapseOnMobile: false,
    items: [
      {
        html: 'Applications',
        href: currentPrototype+'/'
      },
      {
        html: application.id,
        href: 'summary'
      },
      {
        html: 'Audit log'
      }
    ]
  }) }}
{% endblock %}

{% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %}

{% block sideNav %}
  {% include './_nav.html' %}
{% endblock %}

{% block questions %}
  <h1 class="govuk-heading-l govuk-visually-hidden">
    {{ title | safe }}
  </h1>

  <style>
    .govuk-task-list__item:first-of-type {
      border-top: 0;
    }
  </style>

  <ul class="govuk-task-list">
    {% for item in application.audit %}
      <li class="govuk-task-list__item">
        <div class="govuk-task-list__name-and-hint">
          <b>
          {% if item.type == 'payment' %}
            Payment date set as {{ item.payment | date }}
          {% elif item.type == 'due' %}
            Due date {{ ('changed from '+item.old | date+' to '+item.new | date) if iold else ('set as '+item.new | date) }}</b>
          {% elif item.type == 'status' %}
            Status updated from {{ item.old | lower }} to {{ item.new | lower }}
          {% elif item.type == 'query' %}
          Query sent and status updated
          {% elif item.type == 'owner' %}
            Assignment changed from {{ item.old }} to {{ item.new }}
          {% endif %}
          </b>

          <div class="govuk-task-list__hint">
            You on {{ item.date | date('D MMMM YYYY [at] h:mma') }}
          </div>

          {% if item.type == 'query' or (item.type == 'due' and item.old) %}
            {% set queryQuestions %}
              <ul class="govuk-list">
                {% for q in item.questions %}
                  <li>{{ q }}</li>
                {% endfor %}
              </ul>
            {% endset -%}

            {% set queryDetails %}
              {{ govukSummaryList({
                classes: 'govuk-summary-list--no-border',
                rows: [
                  {
                    key: {
                      html: 'Question'+('s' if item.questions | length > 1)+' queried'
                    },
                    value: {
                      html: queryQuestions
                    }
                  },
                  {
                    key: {
                      html: 'Query details'
                    },
                    value: {
                      html: item.reason
                    }
                  }
                ]
              }) }}
            {% endset -%}

            {% set reason %}
              <p>{{ item.reason }}</p>
            {% endset -%}

            {{ govukDetails({
              summaryHtml: 'Show details',
              html: queryDetails if item.type == 'query' else reason,
              classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-0'
            }) }}
          {% endif %}
        </div>
      </li>
    {% endfor %}
    <li class="govuk-task-list__item">
      <div class="govuk-task-list__name-and-hint">
        <b>Application submitted</b>

        <div class="govuk-task-list__hint">
          {{ d | date('subtract', 10, 'days') | date('D MMMM YYYY') }} at 2:17pm
        </div>
      </div>
    </li>
  </ul>
{% endblock %}

{% block buttons %}{% endblock %}