{% extends 'layouts/main.html' %}

{% set title = 'Application '+(application.status | lower) %}

{# {% block bannerBack %}
  {{ govukBackLink({
    html: 'Go back to all applications',
    href: currentPrototype+'/'
  }) }}
{% endblock %} #}

{% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  <p>The determination has been saved and the operator informed of the status update.</p>

  <p>Send the operator the relevant determination letters.</p>

  <p><a href="../" class="govuk-link--no-visited-state">Return to all applications</a></p>
{% endblock %}

{% block buttons %}{% endblock %}