{% extends 'layouts/main.html' %}

{% set title = 'What is your determination of the application?' %}

{% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %}

{% block questions %}
  {{ govukRadios({
    idPrefix: 'determination',
    name: 'determination',
    fieldset: {
      legend: {
        html: title | safe,
        classes: 'govuk-fieldset__legend--l',
        isPageHeading: true
      }
    },
    items: [
      {
        html: 'Approved',
        value: 'Approved'
      },
      {
        html: 'Refused',
        value: 'Refused'
      },
      {
        html: 'Rejected',
        value: 'Rejected'
      }
    ]
  }) }}
{% endblock %}