{% extends 'layouts/main.html' %}

{% set title = 'Duly making' %}

{% block bannerBack %}
  {{ govukBreadcrumbs({
    classes: '',
    collapseOnMobile: false,
    items: [
      {
        html: 'Applications',
        href: currentPrototype+'/'
      },
      {
        html: application.id+': Duly making'
      }
    ]
  }) }}
{% endblock %}

{# {% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %} #}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  <h2 class="govuk-heading-m">
    Application details
  </h2>

  {{ mojAlert({
    variant: 'success',
    title: 'Organisation details confirmed with Companies House',
    dismissible: false
  }) }}

  {{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
    rows: [
      {
        key: {
          html: 'Organisation name'
        },
        value: {
          html: application.orgName
        }
      },
      {
        key: {
          html: 'Organisation ID'
        },
        value: {
          html: application.orgId
        }
      },
      {
        key: {
          html: 'Type'
        },
        value: {
          html: application.type
        }
      },
      {
        key: {
          html: 'Material'
        },
        value: {
          html: application.material
        }
      },
      {
        key: {
          html: 'Site address'
        },
        value: {
          html: application.siteAddress
        }
      },
      {
        key: {
          html: 'PRN tonnage'
        },
        value: {
          html: application.tonnageBand
        }
      },
      {
        key: {
          html: 'Authority to issue'
        },
        value: {
          html: material.authorised | sort | arrayToGovukList()
        }
      },
      {
        key: {
          html: 'Sampling and inspection plan'
        },
        value: {
          html: '<a href="#0">'+application.sip+'</a>'
        }
      }
    ]
  }) }}


  <h2 class="govuk-heading-m">
    Payment details
  </h2>

  {{ govukSummaryList({
  classes: 'govuk-summary-list--no-border',
    rows: [
      {
        key: {
          html: 'Charge'
        },
        value: {
          html: application.charge | currency
        }
      },
      {
        key: {
          html: 'Paid online'
        },
        value: {
          html: 'Yes'
        }
      } if application.chargePaidOnline == 'Yes' else {
        key: {
          html: 'Payment reference'
        },
        value: {
          html: application.chargeRef
        }
      }
    ]
  }) }}


  {{ govukDateInput({
    id: 'payment',
    namePrefix: 'payment',
    fieldset: {
      legend: {
        html: 'Date of payment',
        classes: 'govuk-fieldset__legend--s'
      }
    }
  }) }}
{% endblock %}

{% block buttons %}
  <div class="govuk-button-group">
    {{ govukButton({
      html: 'Complete duly making'
    }) }}

    <a class="govuk-link" href="javascript:history.back()">Cancel</a>
  </div>
{% endblock %}
