{% extends 'layouts/main.html' %}

{% set title = 'Override due date' %}

{% block bannerBack %}
  {{ govukBreadcrumbs({
    classes: '',
    collapseOnMobile: false,
    items: [
      {
        html: 'Applications',
        href: currentPrototype+'/'
      },
      {
        html: application.id,
        href: 'summary'
      },
      {
        html: title | safe
      }
    ]
  }) }}
{% endblock %}

{% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title | safe }}
  </h1>

  {{ govukDateInput({
    id: 'sla',
    namePrefix: 'sla',
    fieldset: {
      legend: {
        html: 'When do you want to set the due date to?',
        classes: 'govuk-fieldset__legend--m'
      }
    },
    hint: {
      html: 'For example, '+(d | date('D M YYYY'))
    }
  }) }}

  {{ govukTextarea({
    name: 'sla-reason',
    id: 'sla-reason',
    rows: 3,
    label: {
      html: 'Reason for changing the due date',
      classes: 'govuk-label--m'
    }
  }) }}
{% endblock %}

{% block buttons %}
  <div class="govuk-button-group">
    {{ govukButton({
      html: 'Save due date'
    }) }}

    <a class="govuk-link" href="javascript:history.back()">Cancel</a>
  </div>
{% endblock %}