{% extends "layouts/main.html" %}

{% set title = 'Feature and versioning system guidance' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <p>This starter has a versioning system built in. It lets you create versions of your prototype and imports the routes for each one.</p>

      {{ govukInsetText({
        html: '<p>It does not currently have versions for other things, for example styles and layouts.</p>'
      }) }}


      <h2 id="structure" class="govuk-heading-m">
        How the folders are structured
      </h2>

      <p>You can create version folders, for example <code>v1</code>, at 3 different levels, depending on how you like to structure your prototypes.</p>

      <p class="govuk-!-margin-bottom-2">Example level structures:</p>
      <ol class="govuk-list govuk-list--number">
        <li><code>/v1</code></li>
        <li><code>/juggling-licence/v1</code></li>
        <li><code>/juggling-licence/new-feature/v1</code></li>
      </ol>

      <p>There is an <a href="example-feature/">example-feature</a> folder within <code>views</code>. In there is an index page which acts as the changelog for each feature. There is also a <code>v2</code> folder which has an example question page and a <code>_routes.js</code> file.<p>



      {{ govukInsetText({
        html: '<p>I stole the original version of this from <a href="https://twitter.com/abbott567">Craig Abbott</a>, Craig is awesome 😻</p>',
        classes: 'govuk-!-margin-top-9'
      }) }}

    </div>
  </div>
{% endblock %}
