{% extends 'layouts/main.html' if data['branded'] == 'true' else 'layouts/unbranded.html' %}

{% set title = 'Contact log' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Go back to all requests',
    href: './'
  }) }}
{% endblock %}

{% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %}

{% block sideNav %}
  {% include './_side-nav.html' %}
{% endblock %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  {{ govukButton({
    html: 'Add contact',
    classes: 'govuk-button--secondary',
    href: 'contact'
  }) }}

  <ul class="govuk-task-list">
    {% for contact in request.contacts %}
      <li class="govuk-task-list__item g//ovuk-task-list__item--with-link">
        <div class="govuk-task-list__name-and-hint">
          {{ contact.type }} ({{ contact.date | date }})

          <div class="govuk-task-list__hint">
            Response due: {{ contact.due | date }}
            <br>
            {{ contact.reason }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block buttons %}{% endblock %}