{% extends 'layouts/unbranded.html' if data['branded'] == 'false' else 'layouts/main.html' %}

{% set pErn = 'PRN' if request.orgType == 'Reprocessor' else 'PERN' %}
{% set title = 'Tasks' %}

{% block backLink %}
  {{ govukBackLink({
    html: 'Go back to all requests',
    href: currentPrototype+'/'
  }) }}
{% endblock %}

{% block bannerContent %}
  {% include './_banner.html' %}
{% endblock %}

{% block sideNav %}
  {% include './_side-nav.html' %}
{% endblock %}

{% block questions %}
  <h1 class="govuk-heading-l">
    {{ title }}
  </h1>

  <h2 class="govuk-heading-m">
    Preliminary checks
  </h2>

  {{ govukTaskList({
    items: [
      {
        title: {
          html: 'Address match'
        },
        href: 'tasks/preliminary/address',
        status: {
          html: 'Completed' if request.address == 'Yes',
          tag: {
            html: ('Failed' if request.address == 'No')+('Queried' if request.address == 'More information needed')+('Not started' if not request.address),
            classes: 'govuk-tag--'+('red' if request.address == 'No')+('orange' if request.address == 'More information needed')+('govuk-tag--blue' if not request.address)
          } if request.address != 'Yes'
        }
      },
      {
        title: {
          html: 'Fit and proper person'
        },
        href: 'tasks/preliminary/fitAndProper',
        status: {
          html: 'Completed' if request.fitAndProper == 'Yes',
          tag: {
            html: ('Failed' if request.fitAndProper == 'No')+('Queried' if request.fitAndProper == 'More information needed')+('Not started' if not request.fitAndProper),
            classes: 'govuk-tag--'+('red' if request.fitAndProper == 'No')+('orange' if request.fitAndProper == 'More information needed')+('govuk-tag--blue' if not request.fitAndProper)
          } if request.fitAndProper != 'Yes'
        }
      },
      {
        title: {
          html: 'Business plan'
        },
        href: 'tasks/preliminary/businessPlan',
        status: {
          html: 'Completed' if request.businessPlan == 'Yes',
          tag: {
            html: ('Failed' if request.businessPlan == 'No')+('Queried' if request.businessPlan == 'More information needed')+('Not started' if not request.businessPlan),
            classes: 'govuk-tag--'+('red' if request.businessPlan == 'No')+('orange' if request.businessPlan == 'More information needed')+('govuk-tag--blue' if not request.businessPlan)
          } if request.businessPlan != 'Yes'
        }
      },
      {
        title: {
          html: 'Estabilished in the UK'
        },
        href: 'tasks/preliminary/uk',
        status: {
          html: 'Completed' if request.uk == 'Yes',
          tag: {
            html: ('Failed' if request.uk == 'No')+('Queried' if request.uk == 'More information needed')+('Not started' if not request.uk),
            classes: 'govuk-tag--'+('red' if request.uk == 'No')+('orange' if request.uk == 'More information needed')+('govuk-tag--blue' if not request.uk)
          } if request.uk != 'Yes'
        }
      }
    ]
  }) }}





  <h2 class="govuk-heading-m">
    Sampling and inspection plan
  </h2>

  <div class="govuk-button-group">
    {{ govukButton({
      html: '<svg class="app-button__icon" xmlns="http://www.w3.org/2000/svg" viewBox="31.48244797 57.8415657 195.36781609 257.43678161" width="35" height="35"><defs><path id="b" d="M38.48 64.84h164.37v226.44H38.48V64.84z"/></defs><filter id="a" width="246.37" height="308.44" x="9.48" y="35.84" filterUnits="userSpaceOnUse" primitiveUnits="userSpaceOnUse"><feFlood/><feComposite in2="SourceAlpha" operator="in"/><feGaussianBlur/><feOffset dx="24" dy="24" result="afterOffset"/><feFlood flood-color="#000" flood-opacity="1"/><feComposite in2="afterOffset" operator="in"/><feMorphology operator="dilate"/><feComposite in2="SourceAlpha" operator="out"/></filter><path fill="#fff" d="M38.48 64.84h164.37v226.44H38.48V64.84z" filter="url(#a)"/><use xlink:href="#b"/><g><use fill-opacity="0" stroke="#fff" stroke-width="14" xlink:href="#b"/></g></svg>Download sampling and inspection report',
      classes: 'govuk-button--secondary app-button--download'
    }) }}
  </div>
  {{ govukTaskList({
    items: [
      {
        title: {
          html: 'Issued '+pErn+'s'
        },
        href: 'tasks/sampling-inspection/alreadyIssued',
        status: {
          html: 'Completed' if request.alreadyIssued == 'Yes',
          tag: {
            html: ('Failed' if request.alreadyIssued == 'No')+('Queried' if request.alreadyIssued == 'More information needed')+('Not started' if not request.alreadyIssued),
            classes: 'govuk-tag--'+('red' if request.alreadyIssued == 'No')+('orange' if request.alreadyIssued == 'More information needed')+('govuk-tag--blue' if not request.alreadyIssued)
          } if request.alreadyIssued != 'Yes'
        }
      },
      {
        title: {
          html: 'Waste identification'
        },
        href: 'tasks/sampling-inspection/separateWaste',
        status: {
          html: 'Completed' if request.separateWaste == 'Yes',
          tag: {
            html: ('Failed' if request.separateWaste == 'No')+('Queried' if request.separateWaste == 'More information needed')+('Not started' if not request.separateWaste),
            classes: 'govuk-tag--'+('red' if request.separateWaste == 'No')+('orange' if request.separateWaste == 'More information needed')+('govuk-tag--blue' if not request.separateWaste)
          } if request.separateWaste != 'Yes'
        }
      },
      {
        title: {
          html: 'Waste type'
        },
        href: 'tasks/sampling-inspection/wasteType',
        status: {
          html: 'Completed' if request.wasteType == 'Yes',
          tag: {
            html: ('Failed' if request.wasteType == 'No')+('Queried' if request.wasteType == 'More information needed')+('Not started' if not request.wasteType),
            classes: 'govuk-tag--'+('red' if request.wasteType == 'No')+('orange' if request.wasteType == 'More information needed')+('govuk-tag--blue' if not request.wasteType)
          } if request.wasteType != 'Yes'
        }
      },
      {
        title: {
          html: pErn+' weight'
        },
        href: 'tasks/sampling-inspection/prnWeight',
        status: {
          html: 'Completed' if request.prnWeight == 'Yes',
          tag: {
            html: ('Failed' if request.prnWeight == 'No')+('Queried' if request.prnWeight == 'More information needed')+('Not started' if not request.prnWeight),
            classes: 'govuk-tag--'+('red' if request.prnWeight == 'No')+('orange' if request.prnWeight == 'More information needed')+('govuk-tag--blue' if not request.prnWeight)
          } if request.prnWeight != 'Yes'
        }
      },
      {
        title: {
          html: 'Calculation method'
        },
        href: 'tasks/sampling-inspection/methodDescribed',
        status: {
          html: 'Completed' if request.methodDescribed == 'Yes',
          tag: {
            html: ('Failed' if request.methodDescribed == 'No')+('Queried' if request.methodDescribed == 'More information needed')+('Not started' if not request.methodDescribed),
            classes: 'govuk-tag--'+('red' if request.methodDescribed == 'No')+('orange' if request.methodDescribed == 'More information needed')+('govuk-tag--blue' if not request.methodDescribed)
          } if request.methodDescribed != 'Yes'
        }
      },
      {
        title: {
          html: 'Audit trail'
        },
        href: 'tasks/sampling-inspection/auditTrail',
        status: {
          html: 'Completed' if request.auditTrail == 'Yes',
          tag: {
            html: ('Failed' if request.auditTrail == 'No')+('Queried' if request.auditTrail == 'More information needed')+('Not started' if not request.auditTrail),
            classes: 'govuk-tag--'+('red' if request.auditTrail == 'No')+('orange' if request.auditTrail == 'More information needed')+('govuk-tag--blue' if not request.auditTrail)
          } if request.auditTrail != 'Yes'
        }
      },
      {
        title: {
          html: 'Quality protocols'
        },
        href: 'tasks/sampling-inspection/qualityControl',
        status: {
          html: 'Completed' if request.qualityControl == 'Yes',
          tag: {
            html: ('Failed' if request.qualityControl == 'No')+('Queried' if request.qualityControl == 'More information needed')+('Not started' if not request.qualityControl),
            classes: 'govuk-tag--'+('red' if request.qualityControl == 'No')+('orange' if request.qualityControl == 'More information needed')+('govuk-tag--blue' if not request.qualityControl)
          } if request.qualityControl != 'Yes'
        }
      },
      {
        title: {
          html: 'Customer specifications'
        },
        href: 'tasks/sampling-inspection/customerSpecification',
        status: {
          html: 'Completed' if request.customerSpecification == 'Yes',
          tag: {
            html: ('Failed' if request.customerSpecification == 'No')+('Queried' if request.customerSpecification == 'More information needed')+('Not started' if not request.customerSpecification),
            classes: 'govuk-tag--'+('red' if request.customerSpecification == 'No')+('orange' if request.customerSpecification == 'More information needed')+('govuk-tag--blue' if not request.customerSpecification)
          } if request.customerSpecification != 'Yes'
        }
      },
      {
        title: {
          html: 'Recorded weight'
        },
        href: 'tasks/sampling-inspection/weightRecorded',
        status: {
          html: 'Completed' if request.weightRecorded == 'Yes',
          tag: {
            html: ('Failed' if request.weightRecorded == 'No')+('Queried' if request.weightRecorded == 'More information needed')+('Not started' if not request.weightRecorded),
            classes: 'govuk-tag--'+('red' if request.weightRecorded == 'No')+('orange' if request.weightRecorded == 'More information needed')+('govuk-tag--blue' if not request.weightRecorded)
          } if request.weightRecorded != 'Yes'
        }
      },
      {
        title: {
          html: 'Departure and destination'
        },
        href: 'tasks/sampling-inspection/departureDestination',
        status: {
          html: 'Completed' if request.departureDestination == 'Yes',
          tag: {
            html: ('Failed' if request.departureDestination == 'No')+('Queried' if request.departureDestination == 'More information needed')+('Not started' if not request.departureDestination),
            classes: 'govuk-tag--'+('red' if request.departureDestination == 'No')+('orange' if request.departureDestination == 'More information needed')+('govuk-tag--blue' if not request.departureDestination)
          } if request.departureDestination != 'Yes'
        }
      },
      {
        title: {
          html: 'Waste not recycled'
        },
        href: 'tasks/sampling-inspection/notRecycled',
        status: {
          html: 'Completed' if request.notRecycled == 'Yes',
          tag: {
            html: ('Failed' if request.notRecycled == 'No')+('Queried' if request.notRecycled == 'More information needed')+('Not started' if not request.notRecycled),
            classes: 'govuk-tag--'+('red' if request.notRecycled == 'No')+('orange' if request.notRecycled == 'More information needed')+('govuk-tag--blue' if not request.notRecycled)
          } if request.notRecycled != 'Yes'
        }
      },
      {
        title: {
          html: 'Revenue'
        },
        href: 'tasks/sampling-inspection/revenue',
        status: {
          html: 'Completed' if request.revenue == 'Yes',
          tag: {
            html: ('Failed' if request.revenue == 'No')+('Queried' if request.revenue == 'More information needed')+('Not started' if not request.revenue),
            classes: 'govuk-tag--'+('red' if request.revenue == 'No')+('orange' if request.revenue == 'More information needed')+('govuk-tag--blue' if not request.revenue)
          } if request.revenue != 'Yes'
        }
      },
      {
        title: {
          html: 'Responsibility'
        },
        href: 'tasks/sampling-inspection/responsibility',
        status: {
          html: 'Completed' if request.responsibility == 'Yes',
          tag: {
            html: ('Failed' if request.responsibility == 'No')+('Queried' if request.responsibility == 'More information needed')+('Not started' if not request.responsibility),
            classes: 'govuk-tag--'+('red' if request.responsibility == 'No')+('orange' if request.responsibility == 'More information needed')+('govuk-tag--blue' if not request.responsibility)
          } if request.responsibility != 'Yes'
        }
      },
      {
        title: {
          html: 'Compliance'
        },
        href: 'tasks/sampling-inspection/complianceResponsibility',
        status: {
          html: 'Completed' if request.complianceResponsibility == 'Yes',
          tag: {
            html: ('Failed' if request.complianceResponsibility == 'No')+('Queried' if request.complianceResponsibility == 'More information needed')+('Not started' if not request.complianceResponsibility),
            classes: 'govuk-tag--'+('red' if request.complianceResponsibility == 'No')+('orange' if request.complianceResponsibility == 'More information needed')+('govuk-tag--blue' if not request.complianceResponsibility)
          } if request.complianceResponsibility != 'Yes'
        }
      },
      {
        title: {
          html: 'Data quality'
        },
        href: 'tasks/sampling-inspection/qualityResponsibility',
        status: {
          html: 'Completed' if request.qualityResponsibility == 'Yes',
          tag: {
            html: ('Failed' if request.qualityResponsibility == 'No')+('Queried' if request.qualityResponsibility == 'More information needed')+('Not started' if not request.qualityResponsibility),
            classes: 'govuk-tag--'+('red' if request.qualityResponsibility == 'No')+('orange' if request.qualityResponsibility == 'More information needed')+('govuk-tag--blue' if not request.qualityResponsibility)
          } if request.qualityResponsibility != 'Yes'
        }
      },
      {
        title: {
          html: 'Training'
        },
        href: 'tasks/sampling-inspection/training',
        status: {
          html: 'Completed' if request.training == 'Yes',
          tag: {
            html: ('Failed' if request.training == 'No')+('Queried' if request.training == 'More information needed')+('Not started' if not request.training),
            classes: 'govuk-tag--'+('red' if request.training == 'No')+('orange' if request.training == 'More information needed')+('govuk-tag--blue' if not request.training)
          } if request.training != 'Yes'
        }
      },
      {
        title: {
          html: 'Reporting'
        },
        href: 'tasks/sampling-inspection/reporting',
        status: {
          html: 'Completed' if request.reporting == 'Yes',
          tag: {
            html: ('Failed' if request.reporting == 'No')+('Queried' if request.reporting == 'More information needed')+('Not started' if not request.reporting),
            classes: 'govuk-tag--'+('red' if request.reporting == 'No')+('orange' if request.reporting == 'More information needed')+('govuk-tag--blue' if not request.reporting)
          } if request.reporting != 'Yes'
        }
      }
    ]
  }) }}

  <h2 class="govuk-heading-m">
    Determination
  </h2>
  {{ govukTaskList({
    items: [
      {
        title: {
          text: 'Make a determination'
        },
        status: {
          text: 'Cannot complete yet',
          classes: 'govuk-task-list__status--cannot-start-yet'
        },
        classes: 'js-no-determination'
      },
      {
        title: {
          text: 'Make a determination'
        },
        href: 'tasks/determination',
        status: {
          tag: {
            html: 'Ready',
            classes: 'govuk-tag--green'
          }
        },
        classes: 'js-determination govuk-!-display-none'
      }
    ]
  }) }}
{% endblock %}

{% block buttons %}{% endblock %}

{#
Add a hacky way to make determination if either:
- any checks are failed
- all 21 checks are complete
#}
{% block pageScripts %}
<script>
  const statuses = document.getElementsByClassName('govuk-task-list__status');
  const determination = document.getElementsByClassName('js-determination');
  const noDetermination = document.getElementsByClassName('js-no-determination');

  let completed = 0;
  for (let i = 0; i < statuses.length; i++) {
    if (statuses[i].textContent.includes('Failed')) {
      determination[0].classList.remove('govuk-!-display-none');
      noDetermination[0].classList.add('govuk-!-display-none');
    } else if (statuses[i].textContent.includes('Completed')) {
      completed++
      if (completed === 21) {
        determination[0].classList.remove('govuk-!-display-none');
        noDetermination[0].classList.add('govuk-!-display-none');
      }
    }
  }
</script>
{% endblock %}