{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{# {% extends "govuk-prototype-kit/layouts/govuk-branded.html" %} #}
{% extends "home-office-kit-layout.html" %}
{% set bodyClasses = 'hods-page' %}


{# Add the title(h1) to page title if it's set, add to each page with:
{% set title = 'Example' %} #}
{% block pageTitle %}
	{{ (title+' –' if title) | striptags | safe }} {{ (serviceName+' –' if serviceName) | striptags | safe}} GOV.UK
{% endblock %}

{% block headIcons %}
	<link rel="icon" sizes="48x48" href="/public/images/favicon.ico">
{% endblock %}

{% block header %}
	<header class="hods-header hods-page__header" role="banner" data-module="hods-header">
		<div class="hods-header__container hods-width-container">
			<div class="hods-header__main">
				<div class="hods-header__logo">
					<div class="app-organisation-logo">
						Department for Environment,<br>Food &amp; Rural Affairs
					</div>
				</div>
				{# <div class="hods-header__title">
					<a class="hods-header__link hods-header__link--active hods-header__link--service-name" href="/">
						{{ serviceName }}
					</a>
				</div> #}
			</div>

			{{ govukServiceNavigation({
				serviceName: serviceName,
				navigation: [
					{
						href: '#',
						text: 'Applications'
					},
					{
						href: '#',
						text: 'Manage team members'
					},
					{
						href: '#',
						text: 'Sign out'
					}
				] if not hideNav
			}) }}
		</div>
	</header>

	{# Create a service banner following the header with a toggle to show #}
	{% block serviceBanner %}
		<div class="app-service-banner">
			<div class="app-service-banner__container govuk-width-container">

				{# Setup blocks for back link and banner content #}
				{% block backLink %}{% endblock %}
				{% block bannerContent %}{% endblock %}

			</div>
		</div>
	{% endblock %}
{% endblock %}


{# Setup form question pages by default, override by using content block if not needed #}
{% block content %}
	<div class="govuk-grid-row">
		{% block sideNav %}{% endblock %}
		<div class="govuk-grid-column-full govuk-grid-column-three-quarters-from-desktop">

			{# Forms all post to themselves, action controlled by _routes.js in each prototype #}
			<form method="post" novalidate>

				{# Use the questions block on each page without needing to add in the rest of form structure #}
				{% block questions %}{% endblock %}

				{# Set default button to continue, use buttons block to override #}
				{% block buttons %}
					{{ govukButton({
						text: 'Continue'
					}) }}
				{% endblock %}

			</form>

		</div>
	</div>
{% endblock %}


{% block footer %}
	<footer class="hods-footer" role="contentinfo">
		<div class="hods-footer__inner">
			<div
				class="hods-footer__container hods-width-container"
			>
				<div class="hods-footer__content">
					A Department for Environment, Food &amp; Rural Affairs Digital, Data and Technology
					service
				</div>
				<div class="hods-footer__navigation">
					<ul id="navigation" class="hods-footer__navigation-list">
						<li class="hods-footer__navigation-item">
							<a class="hods-footer__link" href="#0">
								Accessibility statement
							</a>
						</li>
						<li class="hods-footer__navigation-item">
							<a class="hods-footer__link" href="#º">
								Cookies
							</a>
						</li>
						<li class="hods-footer__navigation-item">
							<a class="hods-footer__link" href="#0">
								Feedback
							</a>
						</li>
					</ul>
				</div>

				<div class="hods-footer__navigation">
					<ul class="hods-footer__navigation-list">
						{% if local %}
						<li class="hods-footer__navigation-item">
							<a class="hods-footer__link" href="/manage-prototype">
								Manage prototype
							</a>
						</li>
						{% endif %}
						<li class="hods-footer__navigation-item">
							<a class="hods-footer__link" href="/manage-prototype/clear-data">
								Clear data
							</a>
						</li>
						{% if local and data['prototype-url'] %}
						<li class="hods-footer__navigation-item">
							<a class="hods-footer__link" href="{{data['prototype-url'] + currentURL}}" target="blank">
								View hosted page (opens in new tab)
							</a>
						</li>
						{% endif %}
						{% if data['repository-url'] %}
						<li class="hods-footer__navigation-item">
							<a class="hods-footer__link" href="{{data['repository-url']}}" target="blank">
								View repository (opens in new tab)
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}


{# Import scrips #}
{% block bodyEnd %}
	{% block scripts %}
		{# Add autocomplete #}
		<script src="/public/javascripts/accessible-autocomplete.min.js"></script>

		{% include 'govuk-prototype-kit/includes/scripts.html' %}
		{% block pageScripts %}{% endblock %}
	{% endblock %}
{% endblock %}