{% extends "./main.html" %}
{% set bodyClasses = "unbranded" %}

{% block header %}
	<div class="govuk-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full govuk-!-margin-left-9 govuk-!-margin-right-9">
				{% block backLink %}{% endblock %}

				{% block bannerContent %}{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}

{# Setup form question pages by default, override by using content block if not needed #}
{% block content %}
	<div class="govuk-grid-row">
		{% block sideNav %}{% endblock %}
		<div class="govuk-grid-column-full govuk-grid-column-three-quarters-from-desktop">

			{# Forms all post to themselves, action controlled by _routes.js in each prototype #}
			<form method="post" novalidate>

				{# Use the questions block on each page without needing to add in the rest of form structure #}
				{% block questions %}{% endblock %}

				{# Set default button to continue, use buttons block to override #}
				{% block buttons %}
					{{ govukButton({
						text: 'Continue'
					}) }}
				{% endblock %}

			</form>

		</div>
	</div>
{% endblock %}


{% block footer %}
	<div class="govuk-!-padding-top-9">
		<div class="govuk-width-container">
			<div class="govuk-footer__meta govuk-!-margin-left-9 govuk-!-margin-right-9">
				<div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
					<h2 class="govuk-visually-hidden">Support links</h2>
					<ul class="govuk-footer__inline-list">
						<li class="govuk-footer__inline-list-item">
							<a class="govuk-footer__link" href="/">
								Prototype homepage
							</a>
						</li>
						{% if local %}
						<li class="govuk-footer__inline-list-item">
							<a class="govuk-footer__link" href="/manage-prototype">
								Manage prototype
							</a>
						</li>
						{% endif %}
						<li class="govuk-footer__inline-list-item">
							<a class="govuk-footer__link" href="/manage-prototype/clear-data">
								Clear data
							</a>
						</li>
						{% if local and data['prototype-url'] %}
						<li class="govuk-footer__inline-list-item">
							<a class="govuk-footer__link" href="{{data['prototype-url'] + currentURL}}" target="blank">
								View hosted page (opens in new tab)
							</a>
						</li>
						{% endif %}
						{% if data['repository-url'] %}
						<li class="govuk-footer__inline-list-item">
							<a class="govuk-footer__link" href="{{data['repository-url']}}" target="blank">
								View repository (opens in new tab)
							</a>
						</li>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}